/* Common CSS */
a{
  transition: .3s;
}
h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0;
}
p{
    margin:0;
    padding:0;
}
/* Image Box */

.single-image-box {
    box-shadow: 0 5px 30px -5px #ddd;
    padding: 15px 30px;
}

.single-image-box img{
 max-width:100%;
}
.single-image-box h4 {
    margin: 25px 0 15px 0;
    font-size: 24px;
    line-height: 30px;
  }
  .single-image-box p {
    line-height: 24px;
    font-size: 14px;
  }

/* Number Box */

.single-number-box {
  box-shadow: 0 5px 30px -5px #ddd;
  padding: 15px 30px;
}
.single-number-box span {
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 0;
	display: block;
}
.single-number-box h4 {
  margin: 0 0 15px 0;
  font-size: 24px;
  line-height: 30px;
}
.single-number-box p {
  line-height: 24px;
  font-size: 14px;
}

  /* Process Box */

  .single-process h6 {
	background-color: #ff5435;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	text-transform: capitalize;
	font-size: 20px;
	position: relative;
	text-align: left;
	width: 100%;
	border-radius: 5px;
	font-weight: 500;
	margin-bottom: 20px;
}
.single-process h6 span {
  background-color: #d35400;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
}
.single-process h4 {
  text-transform: capitalize;
  font-size: 22px;
  color: #fff;
  margin: 20px 0;
}
.single-process p {
  color: #333;
}

/* CTA Css */


.cta-box {
  text-align: center;
  padding: 40px 30px;
  background-color: #2d2828;
  color: white;
}
.cta-box span {
  display: block;
  text-transform: capitalize;
  font-size: 20px;
}
.cta-box h4 {
  color: #fff;
  font-size: 50px;
  margin-top: 25px;
}
.cta-box p {
  color: #fff;
  margin-top: 10px;
  line-height: 28px;
}
.cta-box span.cta-button {
  display: inline-block;
  background-color: #ff5435;
  padding: 10px 25px;
  border-radius: 3px;
  margin: 0 10px;
  margin-top: 40px;
}

/* 2. Section Title */

.section-title {
	position: relative
}
.section-title span {
	font-size: 14px;
	margin-bottom: 5px;
  font-weight: 400;
  display:block;
}
.section-title h4 {
	font-size: 36px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	display: inline-block
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #ff5435;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}

/* About Us */

.about-image img {
	width: 100%;
}
.about-content h4 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}
.about-content p {
  font-size: 14px;
  margin-bottom: 15px;
}
.about-content a {
  display: inline-block;
  background-color: #ff5435;
  padding: 10px 20px;
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 10px;
  transition:.3s;
  text-decoration:none;
}
.about-content a:hover {
  background-color: #f42701;
  color: #fff;
}

/* List Group */


.list-item {
	display: flex;
	align-items: center;
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.list-item h4 {
	margin-left: 10px;
	font-size: 16px;
}
.list-item i {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 50%;
	font-size: 14px;
}

.feature-product-list-wrapper {
  border-radius: 6px;
  background: #fff;
  border: 1px solid #E2E2E2;
}

.feature-product-list-wrapper .title-area {
  padding: 20px 30px;
}

.feature-product-list-wrapper .title-area .title {
  font-size: 24px;
  font-weight: 600;
  color: #2C3C28;
}

.feature-product-list-wrapper .single-product-list {
  display: flex;
  align-items: center;
  gap: 0px;
  border-top: 1px solid #E2E2E2;
  padding-top: 14px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1199px) {
  .feature-product-list-wrapper .single-product-list {
    flex-direction: column;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .feature-product-list-wrapper .single-product-list {
    flex-direction: row;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .feature-product-list-wrapper .single-product-list {
    flex-direction: row;
    padding: 0;
  }
}

@media only screen and (max-width: 575px) {
  .feature-product-list-wrapper .single-product-list {
    flex-direction: column;
    align-items: center;
  }
}

.feature-product-list-wrapper .single-product-list .thumbnail {
  min-width: 140px;
  max-width: 140px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-product-list-wrapper .single-product-list .body-content {
  padding-right: 20px;
}

@media only screen and (max-width: 575px) {
  .feature-product-list-wrapper .single-product-list .body-content {
    padding: 25px;
  }
}

.feature-product-list-wrapper .single-product-list .body-content .top {
  padding-bottom: 7px;
}

.feature-product-list-wrapper .single-product-list .body-content .top .stars-area {
  margin-bottom: 10px;
}

.feature-product-list-wrapper .single-product-list .body-content .top .stars-area i {
  margin-right: 1px;
  color: #FF9A00;
}

.feature-product-list-wrapper .single-product-list .body-content .top .stars-area span {
  margin-left: 5px;
}

.feature-product-list-wrapper .single-product-list .body-content .top a .title {
  transition: 0.3s;
  margin-bottom: 0;
  font-size: 16px;
}

.feature-product-list-wrapper .single-product-list .body-content .top a .title:hover {
  color: var(--color-primary);
}

.feature-product-list-wrapper .single-product-list .body-content .time-tag {
  margin-bottom: 9px;
}

.feature-product-list-wrapper .single-product-list .body-content .price-area {
  margin-top: 8px;
}

.feature-product-list-wrapper .single-product-list .body-content .body-content a .title {
  margin-bottom: 5px;
}

.feature-product-list-wrapper .single-product-list .body-content .cart-counter-action {
  margin-top: 10px;
}

.feature-product-list-wrapper .single-product-list .body-content .price-area {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.feature-product-list-wrapper .single-product-list .body-content .price-area .current {
  font-weight: 700;
  color: var(--color-danger);
  font-size: 20px;
  margin-bottom: 0;
}

.feature-product-list-wrapper .single-product-list .body-content .price-area .previous {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #74787C;
  position: relative;
}

.feature-product-list-wrapper .single-product-list .body-content .price-area .previous::after {
  position: absolute;
  overflow: auto;
  left: -5%;
  top: 50%;
  content: "";
  height: 1px;
  width: 110%;
  background: #74787C;
}

.add-area-start-feature .thumbnail img {
  border-radius: 6px;
  width: 100%;
}


.single-awesome-widget-contact-info {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #e7e7e7;
}
.single-awesome-widget-contact-info .icon {
  border-radius: 5px;
  background-color: #e42032;
  color: #ffff;
  margin-right: 15px;
  padding: 12px 15px;
  display: block;
}
.single-awesome-widget-contact-info .icon i {
  font-size: 20px;
}
.single-awesome-widget-contact-info h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.single-awesome-widget-contact-info h4 span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}




/* Team */
.team-card {
  position: relative;
  z-index: 1;
  transition: var(--Animation-Duration);
  border-radius: 20px;
  background-color: var(--Secondary);
  padding: 10px;
}
.team-card .team-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 12px 12px 20px 20px;
}
.team-card .team-img img {
  width: 100%;
  transition: var(--Animation-Duration);
  border-radius: 12px 12px 20px 20px;
}
.team-card .team-img .team-social {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  visibility: hidden;
  transition: var(--Animation-Duration);
}
.team-card .team-img .team-social a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--White);
  background-color: var(--Background);
  transition: var(--Animation-Duration);
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-card .team-img .team-social a:hover,
.team-card .team-img .team-social a:focus {
  background-color: var(--Primary);
  color: var(--White);
}
.team-card h4,
.team-card p,
.team-card .member-title {
  transition: var(--Animation-Duration);
}
.team-card p {
  font-size: 18px;
}
.team-card:hover,
.team-card:focus {
  transform: translateY(-8px);
  background-color: var(--Background);
}
.team-card:hover .team-social,
.team-card:focus .team-social {
  bottom: 24px;
  opacity: 1;
  visibility: visible;
}
.team-card:hover h4,
.team-card:hover p,
.team-card:hover .member-title,
.team-card:focus h4,
.team-card:focus p,
.team-card:focus .member-title {
  color: var(--White);
}
.team-card-two {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background-color: var(--Secondary);
  transition: var(--Animation-Duration);
}
.team-card-two img {
  width: 100%;
  border-radius: 20px;
}
.team-card-two .team-content {
  transition: var(--Animation-Duration);
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px);
  padding: 20px;
  background-color: var(--Background);
  border-radius: 10px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
.team-card-two .team-content h4,
.team-card-two .team-content p,
.team-card-two .team-content .member-title {
  color: var(--White);
}
.team-card-two:hover,
.team-card-two:focus {
  background-color: var(--Background);
  padding: 6px;
}
.team-card-two:hover .team-content,
.team-card-two:focus .team-content {
  bottom: 24px;
  opacity: 1;
  visibility: visible;
}
.team-card-three {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background-color: var(--Secondary);
  transition: var(--Animation-Duration);
  overflow: hidden;
}
.team-card-three img {
  width: 100%;
  border-radius: 20px;
  transition: var(--Animation-Duration);
}
.team-card-three .team-content {
  transition: var(--Animation-Duration);
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 28px;
  right: 28px;
  width: calc(100% - 56px);
  padding: 16px;
  background-color: var(--White);
  border-radius: 10px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
.team-card-three .team-content h5,
.team-card-three .team-content p,
.team-card-three .team-content .member-title {
  color: var(--Black);
  transition: var(--Animation-Duration);
}
.team-card-three .team-content:hover,
.team-card-three .team-content:focus {
  background-color: var(--Primary);
}
.team-card-three .team-content:hover h5,
.team-card-three .team-content:hover p,
.team-card-three .team-content:hover .member-title,
.team-card-three .team-content:focus h5,
.team-card-three .team-content:focus p,
.team-card-three .team-content:focus .member-title {
  color: var(--White);
}
.team-card-three .team-social {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: var(--Animation-Duration);
}
.team-card-three .team-social a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--Heading);
  background-color: var(--White);
  transition: var(--Animation-Duration);
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-card-three .team-social a:hover,
.team-card-three .team-social a:focus {
  background-color: var(--Primary);
  color: var(--White);
}
.team-card-three:hover,
.team-card-three:focus {
  transform: translateY(-8px);
}
.team-card-three:hover img,
.team-card-three:focus img {
  transform: scale(1.1);
  filter: grayscale(100%);
}
.team-card-three:hover .team-content,
.team-card-three:focus .team-content {
  bottom: 28px;
  opacity: 1;
  visibility: visible;
}
.team-card-three:hover .team-social,
.team-card-three:focus .team-social {
  top: 50%;
  opacity: 1;
  visibility: visible;
}
.team-meta-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.team-meta-list li {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--Heading);
  font-family: var(--Font-Primary);
  flex-wrap: wrap;
}
.team-meta-list li span:first-child {
  width: 100px;
  flex-shrink: 0;
}
.team-meta-list li span:last-child {
  font-family: var(--Font-Secondary);
  font-weight: 400;
  font-size: 16px;
}
.team-details-section img {
  width: 100%;
  border-radius: 20px;
}
.team-details-section p {
  font-size: 18px;
}

/* Testimonial */
.single-testimonial {
  text-align: center;
  padding: 30px;
  border: 1px solid #f4f4f4;
  border-radius: 9px;
}
.single-testimonial-icon i {
  font-size: 26px;
}
.single-testimonial-content {
  margin: 20px 0 30px;
}
.single-testimonial-author {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-testimonial-author img {
  max-width: 70px;
  border: 1px dashed #ddd;
  border-radius: 50%;
  margin-right: 15px;
}
.single-testimonial-author h4 {
  font-size: 20px;
  text-align: left;
}
.single-testimonial-author h4 span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}


.single-price {
  position: relative;
	background-color: transparent;
	background-image: linear-gradient(180deg, #9880FF 32%, #4953EE 100%);
	border-color: #E8E8E8;
	box-shadow: 0px 0px 3px 0px #FFCF84;
	transition-duration: 0.1s;
	border-style: none;
	border-radius: calc(20px + 2px);
  padding: 25px;
}

.price-top img {
  max-width: 80px;
}
.price-heading {
  margin: 20px 0;
}
.price-heading h4 {
  color: #fff;
  font-size: 30px;
}
.price-heading h4 span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.price-amount {
  margin-bottom: 30px;
}
.price-amount p {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.price-amount p span {
  font-size: 24px;
  margin-right: 5px;
}
.price-amount p small {
  font-size: 16px;
  font-style: italic;
}
.price-content {
  text-align: left;
}
.price-content ul {
  list-style: none;
}
.price-content ul li {
  color: #fff;
  font-size: 17px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.price-content ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.price-btn a {
  display: inline-block;
  background-color: #ff3636;
  padding: 10px 40px;
  border-radius: 9px;
  color: #fff;
  font-size: 17px;
}
.price-btn {
  margin-top: 40px;
}



.awea-single-post-grid {
  border: 1px solid #f4f4f4;
}
.awea-single-post-grid img {
  width: 100%;
}
.awea-single-post-box {
  padding: 15px;
}
.awea-single-post-meta {
  text-align: center;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.awea-single-post-meta a {
  color: #333;
  margin: 0 10px;
  font-weight: 500;
  position: relative;
}
.awea-single-post-meta a:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  right: -15px;
  top: 2px;
}
.awea-single-post-meta a:last-child:after {
  display: none;
}
.awea-single-post-content h4 a {
  color: #333;
  font-size: 22px;
  line-height: 32px;
}
.awea-single-post-content p {
  margin-top: 12px;
}
.awea-single-post-content a {
  margin-top: 15px;
  display: block;
  color: #333;
  font-weight: 500;
}



.awea-single-post-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.awea-single-post-list img {
  max-width: 140px;
  border: 1px solid #ddd;
  padding: 3px;
  margin-right: 15px;
  border-bottom: ;
}
.awea-single-post-list:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: -0;
}
.awea-single-post-list-content h4 a {
  color: #333;
  font-size: 24px;
}
.awea-single-post-list-content span {
  display: block;
}
.awea-single-post-list-meta {
  margin-top: 7px;
}
.awea-single-post-list-meta a {
  color: #333;
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}
.awea-single-post-list-meta a:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #333;
  border-radius: 50%;
  right: -15px;
  top: 9px;
}
.awea-single-post-list-meta a:last-child:after {
  display: none;
}