.awea-faq {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  border-top-color: var(--e-global-color-primary);
  border-bottom-color: var(--e-global-color-primary);
  border-left: 0;
  border-right: 0;
  list-style: none;
}
.awea-faq li {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--e-global-color-primary);
  padding: 16px 0;
  border-left-width: 0;
  border-right-width: 0;
}
.awea-faq li:first-child {
  border-top: 0;
}
.awea-faq li:last-child{
  border-bottom: 0;
}
.awea-faq li p {
  display: none;
  color: var(--e-global-color-text);
}
.awea-faq li:first-child p {
	display: block;
}
.awea-faq li, .awea-faq li p, .awea-faq li ul, .awea-faq li ol{
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.awea-faq span {
  width: 100%;
  display: block;
  cursor: pointer;
}
.awea-faq span:after {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f067";
  top: 15px;
  transition: all 0.2s ease-in-out;
  color: var(--e-global-color-primary);
}
.awea-faq span.active:after {
  transition: all 0.2s ease-in-out;
  top: 15px;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f068";
  color: var(--e-global-color-secondary);
}
.awea-faq li span.active {
  border-bottom: 1px dashed var(--e-global-color-primary);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.awea-faq li ul li, .faq li ol li {
  border: 0;
  padding: 0;
  margin: 0;
}
.awea-faq li ul, .faq li ol {
  margin-left: 15px;
}
