.awea-progress-bar-title {
  color: var(--e-global-color-primary);
  margin-bottom: 5px;
}
.awea-progress-bar-box {
    height: 20px;
    background: var(--e-global-color-text)
}
.awea-progress-bar-box .awea-progress-bar1 {
    position: relative;
    height: 100%;
    background: var(--e-global-color-primary);
}
.awea-progress-bar-value {
    color: var(--e-global-color-text);
    position: absolute;
    bottom: 15px;
    right: 0;
}