.awea-single-awesome-widget-contact-info {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid var(--e-global-color-primary);
}
.awea-single-awesome-widget-contact-info .awea-single-awesome-widget-contact-info-icon {
  margin-right: 15px;
  padding: 12px 15px;
  display: block;
}
.awea-single-awesome-widget-contact-info h4 span {
  display: block;
  margin-top: 7px;
}