.awea-cta-box{
  padding: 30px 40px;
  background-color: var(--e-global-color-primary);
}
.awea-cta-box span {
  display: block;
}
.awea-cta-box-content {
  margin-top: 10px;
}
.awea-cta-box-btn {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}
.awea-cta-box-btn a {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--e-global-color-text);
  color: var(--e-global-color-secondary);
}